
:root {
	/* =~= Theme Properties =~= */
	--theme-font-family-base: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--theme-font-family-heading: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--theme-font-color-base: var(--color-surface-900);
	--theme-font-color-dark: var(--color-surface-50);
	--theme-rounded-base: 4px;
	--theme-rounded-container: 6px;
	--theme-border-base: 2px;
	/* =~= Theme On-X Colors =~= */
	--on-primary: 255 255 255;
	--on-secondary: 255 255 255;
	--on-tertiary: 0 0 0;
	--on-success: 0 0 0;
	--on-warning: 0 0 0;
	--on-error: 255 255 255;
	--on-surface: 255 255 255;
	/* =~= Theme Colors  =~= */
	/* primary | #ff4761 */
	--color-primary-50: 255 227 231; /* ⬅ #ffe3e7 */
	--color-primary-100: 255 218 223; /* ⬅ #ffdadf */
	--color-primary-200: 255 209 216; /* ⬅ #ffd1d8 */
	--color-primary-300: 255 181 192; /* ⬅ #ffb5c0 */
	--color-primary-400: 255 126 144; /* ⬅ #ff7e90 */
	--color-primary-500: 255 71 97; /* ⬅ #ff4761 */
	--color-primary-600: 230 64 87; /* ⬅ #e64057 */
	--color-primary-700: 191 53 73; /* ⬅ #bf3549 */
	--color-primary-800: 153 43 58; /* ⬅ #992b3a */
	--color-primary-900: 125 35 48; /* ⬅ #7d2330 */
	/* secondary | #0ea5e9 */
	--color-secondary-50: 219 242 252; /* ⬅ #dbf2fc */
	--color-secondary-100: 207 237 251; /* ⬅ #cfedfb */
	--color-secondary-200: 195 233 250; /* ⬅ #c3e9fa */
	--color-secondary-300: 159 219 246; /* ⬅ #9fdbf6 */
	--color-secondary-400: 86 192 240; /* ⬅ #56c0f0 */
	--color-secondary-500: 14 165 233; /* ⬅ #0ea5e9 */
	--color-secondary-600: 13 149 210; /* ⬅ #0d95d2 */
	--color-secondary-700: 11 124 175; /* ⬅ #0b7caf */
	--color-secondary-800: 8 99 140; /* ⬅ #08638c */
	--color-secondary-900: 7 81 114; /* ⬅ #075172 */
	/* tertiary | #ebebeb */
	--color-tertiary-50: 252 252 252; /* ⬅ #fcfcfc */
	--color-tertiary-100: 251 251 251; /* ⬅ #fbfbfb */
	--color-tertiary-200: 250 250 250; /* ⬅ #fafafa */
	--color-tertiary-300: 247 247 247; /* ⬅ #f7f7f7 */
	--color-tertiary-400: 241 241 241; /* ⬅ #f1f1f1 */
	--color-tertiary-500: 235 235 235; /* ⬅ #ebebeb */
	--color-tertiary-600: 212 212 212; /* ⬅ #d4d4d4 */
	--color-tertiary-700: 176 176 176; /* ⬅ #b0b0b0 */
	--color-tertiary-800: 141 141 141; /* ⬅ #8d8d8d */
	--color-tertiary-900: 115 115 115; /* ⬅ #737373 */
	/* success | #84cc16 */
	--color-success-50: 237 247 220; /* ⬅ #edf7dc */
	--color-success-100: 230 245 208; /* ⬅ #e6f5d0 */
	--color-success-200: 224 242 197; /* ⬅ #e0f2c5 */
	--color-success-300: 206 235 162; /* ⬅ #ceeba2 */
	--color-success-400: 169 219 92; /* ⬅ #a9db5c */
	--color-success-500: 132 204 22; /* ⬅ #84cc16 */
	--color-success-600: 119 184 20; /* ⬅ #77b814 */
	--color-success-700: 99 153 17; /* ⬅ #639911 */
	--color-success-800: 79 122 13; /* ⬅ #4f7a0d */
	--color-success-900: 65 100 11; /* ⬅ #41640b */
	/* warning | #EAB308 */
	--color-warning-50: 252 244 218; /* ⬅ #fcf4da */
	--color-warning-100: 251 240 206; /* ⬅ #fbf0ce */
	--color-warning-200: 250 236 193; /* ⬅ #faecc1 */
	--color-warning-300: 247 225 156; /* ⬅ #f7e19c */
	--color-warning-400: 240 202 82; /* ⬅ #f0ca52 */
	--color-warning-500: 234 179 8; /* ⬅ #EAB308 */
	--color-warning-600: 211 161 7; /* ⬅ #d3a107 */
	--color-warning-700: 176 134 6; /* ⬅ #b08606 */
	--color-warning-800: 140 107 5; /* ⬅ #8c6b05 */
	--color-warning-900: 115 88 4; /* ⬅ #735804 */
	/* error | #ff4013 */
	--color-error-50: 255 226 220; /* ⬅ #ffe2dc */
	--color-error-100: 255 217 208; /* ⬅ #ffd9d0 */
	--color-error-200: 255 207 196; /* ⬅ #ffcfc4 */
	--color-error-300: 255 179 161; /* ⬅ #ffb3a1 */
	--color-error-400: 255 121 90; /* ⬅ #ff795a */
	--color-error-500: 255 64 19; /* ⬅ #ff4013 */
	--color-error-600: 230 58 17; /* ⬅ #e63a11 */
	--color-error-700: 191 48 14; /* ⬅ #bf300e */
	--color-error-800: 153 38 11; /* ⬅ #99260b */
	--color-error-900: 125 31 9; /* ⬅ #7d1f09 */
	/* surface | #4e468f */
	--color-surface-50: 228 227 238; /* ⬅ #e4e3ee */
	--color-surface-100: 220 218 233; /* ⬅ #dcdae9 */
	--color-surface-200: 211 209 227; /* ⬅ #d3d1e3 */
	--color-surface-300: 184 181 210; /* ⬅ #b8b5d2 */
	--color-surface-400: 131 126 177; /* ⬅ #837eb1 */
	--color-surface-500: 78 70 143; /* ⬅ #4e468f */
	--color-surface-600: 70 63 129; /* ⬅ #463f81 */
	--color-surface-700: 59 53 107; /* ⬅ #3b356b */
	--color-surface-800: 47 42 86; /* ⬅ #2f2a56 */
	--color-surface-900: 38 34 70; /* ⬅ #262246 */
	
}