---
import { Toaster } from "@/components/ui/sonner";
import "@/globals.css";
---

<!doctype html>
<html lang="en" class="dark h-full overflow-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg" href="/favicon.svg" />
    <title>Packlighter</title>
  </head>
  <body>
    <div
      style="display: contents;"
      class="h-full overflow-hidden flex flex-col"
    >
      <slot />
    </div>
    <Toaster client:load />
  </body>
</html>
