---
import type { ToDo } from "@/store";
import { cn } from "@/lib/utils";
import { Button } from "./ui/button";
import { Delete } from "lucide-react";

export interface Props {
  todo: ToDo;
}

const { todo } = Astro.props;
---

<div
  id={`todo-${todo.id}`}
  class="flex gap-2 items-center justify-between px-3 py-1 group hover:bg-muted rounded-md transition-colors"
>
  <span class={"italic peer-checked:line-through"}>
    {todo.text}
  </span>

  <Button
    hx-delete={`/todos/${todo.id}`}
    hx-target="closest div"
    hx-swap="outerHTML"
    size="sm"
    variant="link"
  >
    done
  </Button>
</div>
