---
import GithubLoginButton from "@/components/github-login-button.tsx";
import RootLayout from "@/layouts/root-layout.astro";
import { Feather } from "lucide-react";
---

<RootLayout>
  <div class="w-full h-full py-16 overflow-auto">
    <div class="prose dark:prose-invert mx-auto">
      <Feather size="5rem" className="text-primary mx-auto mb-16" />
      <h1 class="text-center">PackLighter</h1>
      <p class="text-center">The packing list tool of champions.</p>
      <div>
        <GithubLoginButton className="w-full" />
      </div>
      <br />
    </div>
  </div>
</RootLayout>
