---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/button";

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import Sidebar from "@/components/Sidebar.astro";

const list = await Astro.locals.pb
  .collection("lists")
  .getOne(Astro.params.id || "");
---

<Layout>
  <CardHeader>
    <CardTitle className="flex justify-between items-center gap-4">
      <span class={`${list.name ? "" : "opacity-50"}`}>
        {list.name || "Unnamed List"}
      </span>
      <div class="flex flex-row gap-2">
        <form
          action={`${Astro.url.origin}/api/lists/${list.id}/delete`}
          method="post"
          onsubmit="
          return confirm('Are you sure you want to delete this list?')
          "
        >
          <Button size="sm" variant="destructive">Delete</Button>
        </form>
        <Button size="sm">Share</Button>
      </div>
    </CardTitle>
    <CardDescription className={`mt-2 ${list.description ? "" : "opacity-50"}`}>
      {list.description || "Description"}
    </CardDescription>
  </CardHeader>

  <CardContent>this is gear</CardContent>
</Layout>
