---
import Layout from "@/layouts/Layout.astro";
import type { Record } from "pocketbase";

const list = await Astro.locals.pb
  .collection("lists")
  .getOne(Astro.params.id ?? "");
---

<Layout>
  <div class="pl-4 py-4">
    <h2 class="text-xl font-bold">{list.name}</h2>
  </div>
</Layout>
