---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/button";

const user = Astro.locals.user;

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { ScrollArea } from "@/components/ui/scroll-area";

const lists = await Astro.locals.pb.collection("lists").getFullList();
const list = await Astro.locals.pb
  .collection("lists")
  .getOne(Astro.params.id || "");
---

<Layout>
  <div class="flex h-full">
    <aside class="w-[300px] overflow-hidden border-r shadow">
      <CardHeader>
        <CardTitle className="flex justify-between items-center">
          <span>Lists</span>
          <form action="/api/lists" method="post">
            <Button variant="ghost">
              <i class="fa-solid fa-plus mr-2"></i>
              New
            </Button>
          </form>
        </CardTitle>
      </CardHeader>
      <CardContent>
        <ScrollArea>
          <ul class="grid gap-1">
            {
              lists.map((list) => {
                const href = `/${list.id}`;
                const currentList =
                  Astro.url.pathname === href ||
                  Astro.url.pathname === href + "/";

                return (
                  <li>
                    <a href={href} class="w-full">
                      <Button
                        variant={currentList ? "secondary" : "ghost"}
                        className="w-full justify-start"
                      >
                        {list.name}
                      </Button>
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </ScrollArea>
      </CardContent>
    </aside>
    <main class="flex-1">
      {list.name}
    </main>
  </div>
</Layout>
