---
import Layout from "@/layouts/Layout.astro";

import { AuthCard } from "@/components/AuthCard/index";
import RootLayout from "@/layouts/RootLayout.astro";
import { Feather } from "lucide-react";
---

<RootLayout>
  <div class="container max-w-sm">
    <div class="flex flex-col py-8 items-center">
      <Feather className="h-16 w-16 text-teal-500 mb-4" />
      <h1 class="text-3xl font-bold mb-1">PackLighter</h1>
      <p class="text-sm text-muted-foreground">The packing tool of champions</p>
    </div>
    <AuthCard client:load />
  </div>
</RootLayout>
