---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/button";

const user = Astro.locals.user;
console.log(user);
---

<Layout>
  <div class="flex h-full">
    <aside class="w-[300px] overflow-hidden border-r shadow">hello</aside>
  </div>
</Layout>
