---
import CenteredCard from "@/layouts/CenteredCard.astro";
import Layout from "@/layouts/Layout.astro";

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import ListOfLists from "@/components/ListOfLists.astro";
import { Button } from "@/components/ui/button";
import { ScrollArea } from "@/components/ui/scroll-area";
import Sidebar from "@/components/Sidebar.astro";

const lists = await Astro.locals.pb.collection("lists").getFullList();
---

<Layout>
  <div class="flex h-full">
    <Sidebar />
    <main class="flex-1">Welcome to the app</main>
  </div>
</Layout>
