# flyctl launch added from SPA/.gitignore
# Logs
SPA/**/logs
SPA/**/*.log
SPA/**/npm-debug.log*
SPA/**/yarn-debug.log*
SPA/**/yarn-error.log*
SPA/**/pnpm-debug.log*
SPA/**/lerna-debug.log*

SPA/**/node_modules
SPA/**/dist
SPA/**/dist-ssr
SPA/**/*.local

# Editor directories and files
SPA/**/.vscode/*
!SPA/**/.vscode/extensions.json
SPA/**/.idea
SPA/**/.DS_Store
SPA/**/*.suo
SPA/**/*.ntvs*
SPA/**/*.njsproj
SPA/**/*.sln
SPA/**/*.sw?

# flyctl launch added from client/.gitignore
client/**/.DS_Store
client/**/node_modules
client/build
client/.svelte-kit
client/package
client/**/.env
client/**/.env.*
!client/**/.env.example
client/**/vite.config.js.timestamp-*
client/**/vite.config.ts.timestamp-*
fly.toml
