---
import { Button } from "./ui/button";
import { AccountDropdown } from "./AccountDropdown";
import { Feather } from "lucide-react";

const { user } = Astro.locals;
const imageUrl = user ? Astro.locals.pb.files.getUrl(user, user.profile) : "";
---

<header
  class="bg-card text-foreground flex justify-between items-center px-6 h-16 border-b shadow"
>
  <a href="/" class="flex items-center">
    <Feather className="mr-3 h-8 w-8 text-teal-500" />
    <h1 class="font-medium text-xl">PackLighter</h1>
  </a>

  <AccountDropdown user={user} imageUrl={imageUrl} client:load />
</header>
