---
import { Button } from "./ui/button";
const { user } = Astro.locals;
---

<header class="flex justify-between items-center px-6 py-3 border-b shadow">
  <a href="/">
    <div>PackLighter</div>
  </a>
  <div class="flex gap-4 items-center">
    {
      user ? (
        <>
          <div>{user.name}</div>
          <form action="/api/auth/logout" method="post">
            <Button type="submit" variant="secondary">
              Logout
            </Button>
          </form>
        </>
      ) : (
        <>
          <div class="text-muted-foreground">Guest</div>
          <a href="/auth">
            <Button>Login</Button>
          </a>
        </>
      )
    }
  </div>
</header>
