---
interface Props {
  lists: Record[];
}

const { lists } = Astro.props;
import { Button } from "@/components/ui/button";
import type { Record } from "pocketbase";
import { ScrollArea } from "./ui/scroll-area";
---

<ScrollArea
  client:load
  className="overflow-y-auto h-full max-h-fit min-h-[200px] border rounded-md p-2 pr-3"
>
  <div class="grid gap-1">
    {
      lists.map((list) => {
        const href = `/${list.id}`;
        const currentList =
          Astro.url.pathname === href || Astro.url.pathname === href + "/";
        return (
          <div>
            <a href={href} class="w-full">
              <Button
                variant={currentList ? "secondary" : "ghost"}
                className={`w-full justify-start ${
                  list.name ? "" : "opacity-50"
                }`}
              >
                {list.name || "Unnamed List"}
              </Button>
            </a>
          </div>
        );
      })
    }
  </div>
</ScrollArea>
