---
import { Button } from "@/components/ui/button";
const lists = await Astro.locals.pb
  .collection("lists")
  .getFullList({ sort: "-created" });
---

<ul class="grid gap-1">
  {
    lists.map((list) => {
      const href = `/${list.id}`;
      const currentList =
        Astro.url.pathname === href || Astro.url.pathname === href + "/";

      return (
        <li>
          <a href={href} class="w-full">
            <Button
              variant={currentList ? "secondary" : "ghost"}
              className={`w-full justify-start ${
                list.name ? "" : "opacity-50"
              }`}
            >
              {list.name || "Unnamed List"}
            </Button>
          </a>
        </li>
      );
    })
  }
</ul>
