---
import { Button } from "@/components/ui/button";

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { ListOfItems } from "./ListOfItems.jsx";
import ListOfLists from "./ListOfLists.astro";

const lists = await Astro.locals.pb
  .collection("lists")
  .getFullList({ sort: "-created" });
const items = await Astro.locals.pb.collection("items").getFullList();
---

<aside class="w-[300px] border-r shadow flex flex-col gap-2 p-6 h-full">
  <div class="flex items-center justify-between">
    <CardTitle>Packing Lists</CardTitle>
    <form action={`${Astro.url.origin}/api/lists`} method="post">
      <Button className="w-full" size="sm" variant="ghost">
        <i class="fa-solid fa-plus mr-2"></i>
        New List
      </Button>
    </form>
  </div>
  <ListOfLists lists={lists} />
  <CardTitle>Items</CardTitle>
  <ListOfItems items={items} client:load />
</aside>
