---
import { Button } from "@/components/ui/button";

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { ListOfItems } from "./ListOfItems.jsx";
import ListOfLists from "./ListOfLists.astro";

import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faPlus } from "@fortawesome/free-solid-svg-icons";

const lists = await Astro.locals.pb
  .collection("lists")
  .getFullList({ sort: "-created" });
const items = await Astro.locals.pb.collection("items").getFullList();
---

<div class="flex flex-col gap-2 h-full overflow-hidden">
  <div class="flex items-center justify-between">
    <CardTitle>Lists</CardTitle>
    <form action={`${Astro.url.origin}/api/lists`} method="post">
      <Button className="w-full" size="sm" variant="ghost">
        <FontAwesomeIcon icon={faPlus} className="h-3 w-3 mr-2" />
        New List
      </Button>
    </form>
  </div>
  <ListOfLists lists={lists} />
  <br />
  <CardTitle className="mt-4">Gear</CardTitle>
  <ListOfItems items={items} client:load />
</div>
