---
import "@/globals.css";
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { Loader } from "lucide-react";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script src="/htmx.js" is:inline></script>
    <title>Astro HTMX</title>
  </head>
  <body class="prose mx-auto p-4">
    <h1>To-Do List</h1>
    <form
      hx-post="/todos"
      hx-trigger="submit"
      data-once="true"
      hx-target="#todos"
      hx-on::after-request="this.reset()"
      class="grid gap-2"
    >
      <Input name="todo" placeholder="Add To-Do..." />
      <Button type="submit">Add</Button>
    </form>
    <br />
    <div id="todos" hx-get="/todos" hx-swap="outerHTML" hx-trigger="load">
      <div class="htmx-indicator w-full flex items-center justify-center">
        <Loader className="animate-spin mr-2" />
         Loading...
      </div>
    </div>
  </body>
</html>
