---
import "@/globals.css";
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { Loader } from "lucide-react";
import { Skeleton } from "@/components/ui/skeleton";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <meta name="generator" content={Astro.generator} />
    <script src="/htmx.js" is:inline></script>
    <title>Astro HTMX</title>
  </head>
  <body class="prose mx-auto p-4">
    <h1>To-Do List</h1>
    <form
      hx-post="/todos"
      hx-trigger="submit"
      data-once="true"
      hx-target="#todos"
      hx-on::after-request="this.reset()"
      class="grid gap-2"
    >
      <Input name="todo" placeholder="Add To-Do..." />
      <Button type="submit">Add</Button>
    </form>
    <br />
    <div id="todos" hx-get="/todos" hx-trigger="load"></div>
  </body>
</html>
