---
import "@/globals.css";
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro HTMX</title>
  </head>
  <body>
    <form action="" class="">
			<Input/>
			<Button>Hello</Button>
		</form>
  </body>
</html>
