---
import Header from "@/components/Header.astro";
import RootLayout from "./RootLayout.astro";
import Sidebar from "@/components/Sidebar.astro";
---

<RootLayout>
  <div class="w-full h-full flex flex-col overflow-hidden">
    <header class="z-50">
      <Header />
    </header>
    <main class="flex flex-row flex-1 overflow-hidden">
      <aside
        class="bg-card z-0 shadow border-r p-2 min-w-[250px] max-w-[300px]"
      >
        <Sidebar />
      </aside>
      <div class="flex-1 w-full overflow-auto">
        <slot />
      </div>
    </main>
  </div>
</RootLayout>
