---
import { Toaster } from "@/components/ui/toaster";
import { QueryClientProvider } from "@tanstack/react-query";
import "@/globals.css";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <link rel="icon" type="image/svg" href="/feather.svg" />
    <title>PackLighter</title>
  </head>
  <body>
    <QueryClientProvider>
      <div
        style="display: contents;"
        class="h-full overflow-hidden flex flex-col"
      >
        <Toaster client:load />
        <slot />
      </div>
    </QueryClientProvider>
  </body>
</html>
