---
import Todo from "@/components/Todo.astro";
import { db } from "@/db";
import type { ToDo } from "@/store";

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const todoText = formData.get("todo")?.toString();
  if (todoText) {
    db.prepare(`INSERT INTO todos (text) VALUES (?)`).run(todoText);
  }
}

const todos = db.prepare(`SELECT * FROM todos`).all() as ToDo[];
console.log(todos);
---

{
  todos.length > 0 ? (
    todos.map((todo) => <Todo todo={todo} />)
  ) : (
    <div class="flex justify-center">No to-dos added yet</div>
  )
}
